
<div class="container-fluid">

  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container row">

      <div class="navbar-brand col-sm-1 col-md-1 col-lg-1">
        <a [routerLink]="['/user', userId, 'admin', 'user']"
           class="pull-left my-white-color">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-brand my-white-color col-sm-2 col-md-2 col-lg-2">
        Update User
      </div>
      <div class="navbar-brand col-sm-9 col-md-9 col-lg-9">
        <a (click)="updateUser()"
           class="pull-right my-white-color">
          <span class="glyphicon glyphicon-ok my-white-color"></span>
        </a>
      </div>


    </div>
  </nav>

  <div class="container my-container">

    <div class="form-group">
      <label for="username">Username</label>
      <input [(ngModel)]="username"
             type="text"
             class="form-control"
             id="username"
             placeholder="ssoni">
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input [(ngModel)]="email"
             type="email"
             class="form-control"
             id="email"
             placeholder="soni.swati@outlook.com">
    </div>

    <div class="form-group">
      <label for="first-name">First Name</label>
      <input [(ngModel)]="firstName"
             type="text"
             class="form-control"
             id="first-name"
             placeholder="Swati">
    </div>

    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input [(ngModel)]="lastName"
             type="text"
             class="form-control"
             id="last-name"
             placeholder="Soni">
    </div>

    <a class="btn btn-danger btn-block"
       (click)="deleteUser()">Delete Account</a>

  </div>

  <nav class="navbar navbar-custom navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a [routerLink]="['/user', userId, 'profile']">>
          <span class="glyphicon glyphicon-user my-white-color"></span>
        </a>
      </p>
    </div>
  </nav>
</div>

