<div class="container-fluid">

  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="row">

      <div class="navbar-brand col-sm-1 col-md-1 col-lg-1">
        <a [routerLink]="['/user', userId]"
           class="pull-left my-white-color navbar-brand">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-brand my-white-color col-sm-3 col-md-3 col-lg-3">
        MassivX
      </div>

      <div class="navbar-brand col-sm-5 col-md-5 col-lg-5">
        <a [routerLink]="['/user', userId,'createwallet']"
           class="btn btn-success pull-right my-white-color">
          Create Wallet
        </a>
      </div>

      <div class="navbar-brand pull-right my-white-color col-sm-3 col-md-3 col-lg-3">
        <a [routerLink]="['/user', userId,'wallet']"
           class="btn btn-success pull-right my-white-color">
          My Wallets
        </a>
      </div>

    </div>
  </nav>


  <div class="my-container row">
    <ul class="list-group">
      <li *ngFor="let wallet of wallets"
          class="list-group-custom-item">
        <div>
          <label>Wallet Address</label>
          <a [routerLink]="['/user', userId, 'wallet', 'search', wallet.address]">
            {{wallet['address']}}
          </a>
          <br>
          <label>Private Key</label>
          {{wallet['privateKey']}}
        </div>
      </li>
    </ul>
  </div>

  <nav class="navbar navbar-custom navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a [routerLink]="['/user', userId, 'profile']">
          <span class="glyphicon glyphicon-user my-white-color"></span>
        </a>
      </p>
    </div>
  </nav>



</div>
