<div class="container-fluid"
     style="background-color: black;
width:100%;
height: 100%;
position: fixed;
top:0px;
left:0px;
z-index:1000;">


  <div class="my-container" style="text-align: center">
    <div class="row">
      <h1 style="color: white">MASSIVX</h1>
    </div>
  </div>

  <div class="my-container" style="text-align: center">
    <div class="row">
      <p style="color: white;margin-right: 20px;margin-right: 20px; align-content: center">MassivX, a web application, is a cryptocurrency exchange platform that allows the exchange of one type of cryptocurrency into other. With a simple register and secured login process, a user will be able to easily trade any leading blockchain asset for other.</p>
    </div>

    <div class="row" style="text-align: center">
      <h4>
        <a routerLink="/apitest" style="align-content: center">Search Market Rate</a>
      </h4>
    </div>
    
    <div class="row" style="text-align: center">
      <h4>
        <a routerLink="/login"style="align-content: center">Login</a>
      </h4>
    </div>
  </div>
</div>

