<div class="container-fluid scene">

  <div class="my-container textscene" >
    <div class="row">
      <h1>MASSIVX</h1>
    </div>
  </div>

  <div class="my-container textscene">
    <div class="row">
      <p>MassivX, a web application, is a cryptocurrency exchange platform that allows the exchange of one type of cryptocurrency into other. With a simple register and secured login process, a user will be able to easily trade any leading blockchain asset for other.</p>
    </div>


    <div class="row">
      <h4>
        <a routerLink="/login">Login</a>
      </h4>
    </div>
  </div>
</div>
