<div class="container-fluid">

  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container row">

      <div class="navbar-brand my-white-color col-sm-3 col-md-3 col-lg-3">
        MassivX
      </div>

      <div class="navbar-brand col-sm-2 col-md-2 col-lg-2">
        <a [routerLink]="['/user', userId,'createwallet']"
           class="btn btn-success pull-right my-white-color">
          Create Wallet
        </a>
      </div>

      <div class="navbar-brand my-white-color col-sm-2 col-md-2 col-lg-2">
        <a [routerLink]="['/user', userId,'wallet']"
           class="btn btn-success pull-right my-white-color">
          My Wallets
        </a>
      </div>

      <div class="navbar-brand my-white-color col-sm-2 col-md-2 col-lg-2">
        <a [routerLink]="['/user', userId,'transactions']"
           class="btn btn-success pull-right my-white-color">
          View Transactions
        </a>
      </div>

      <div class="navbar-brand pull-right my-white-color col-sm-3 col-md-3 col-lg-3">
        <a [routerLink]="['/user', userId, 'apitest']"
           class="btn btn-success pull-right my-white-color">
          Search Market Rate
        </a>
      </div>

    </div>
  </nav>

  <div class="container my-container my-margin">

    <div class="my-container row">
      <form class="form-group" #f="ngForm">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <input  class="form-control"
                  id="amount"
                  type="text"
                  name="amount"
                  ngModel
                  placeholder="YOU HAVE"
                  #amount="ngModel"/>
        </div>

        <div class="col-sm-1 col-md-1 col-lg-1">
          <select  class="form-control"
                   id="from"
                   name="from"
                   ngModel
                   #from="ngModel">
            <option value="USD">
              USD
            </option>
            <option value="EUR">
              EUR
            </option>
            <option value="JPY">
              JPY
            </option>
          </select>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
          <input class="form-control"
                 id="exchangeAmount"
                 type="text"
                 name="exchangeAmount"
                 ngModel
                 placeholder="YOU GET"
                 #exchangeAmount="ngModel"/>
        </div>

        <div class="col-sm-1 col-md-1 col-lg-1">
          <select class="form-control"
                  id="to"
                  name="to"
                  ngModel
                  #to="ngModel">
            <option value="BTC">
              BTC
            </option>
          </select>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2">
          <a (click)="exchange()"
             class="btn btn-success btn-block">Exchange</a>
        </div>
      </form>
    </div>
  </div>

    <div class=" container my-container row">

      <div class="row my-align">
        <h1>Bitcoin 24 hour Stats</h1>
      </div>

      <div class="row">
        <div class="col-xs-6">

          <div class="row my-align">
            <label>Block Summary</label>
          </div>
          <hr>

          <div class="row">
            <div class="col-xs-3 col-md-3 col-lg-3">
              <label>Blocks Mined</label>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
              <label>{{stats.n_blocks_mined}}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3 col-md-3 col-lg-3">
              <label>Time Between Blocks</label>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
              <label>{{stats.minutes_between_blocks}}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3 col-md-3 col-lg-3">
              <label>Bitcoins Mined</label>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
              <label>{{stats.n_btc_mined}}</label>
            </div>
          </div>

        </div>


        <div class="col-xs-6">

          <div class="row my-align">
            <label>Market Summary</label>
          </div>
          <hr>

          <div class="row">
            <div class="col-xs-3 col-md-3 col-lg-3">
              <label>Market Price</label>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
              <label>
                {{stats.market_price_usd}}
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3 col-md-3 col-lg-3">
              <label>Trade Volume</label>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
              <label>
                {{stats.trade_volume_usd}}  USD
              </label>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-3 col-md-3 col-lg-3">
              <label>Trade Volume</label>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
              <label>
                {{stats.trade_volume_btc}}  BTC
              </label>
            </div>
          </div>
        </div>


      </div>

    </div>

    <nav class="navbar navbar-custom navbar-fixed-bottom">
      <div class="container-fluid">

        <p class="navbar-text pull-left">
          <a [routerLink]="['/user', userId, 'forum']"
             class="btn btn-success">
            Forum
          </a>
        </p>

        <p class="navbar-text pull-right">
          <a [routerLink]="['/user', userId, 'profile']">
            <span class="glyphicon glyphicon-user my-white-color"></span>
          </a>
        </p>

      </div>
    </nav>



  </div>
