
<div class="container-fluid">

  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container row">
      <div class="col-sm-1 col-md-1 col-lg-1">
        <a [routerLink]="['/user', userId, 'profile']"
           class="navbar-brand pull-left my-white-color">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-brand my-white-color col-sm-11 col-md-11 col-lg-11">
        Market Rate
      </div>
    </div>
  </nav>

  <div class="my-container">
    <div class="row input-group">
      <input [(ngModel)]="searchText"
             type="text"
             class="form-control"
             placeholder="Search rate of coins in USD. Enter coin name. Example: BTC,LTC"
             autofocus>
      <span class="input-group-btn">
         <a (click)="searchCrypto()"
            class="btn btn-default"
            type="button">
             <span class="glyphicon glyphicon-search"></span>
         </a>
      </span>
    </div>

    <div class="row" *ngIf="cryptos">
      <div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <span class="left">{{crypto}}</span>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4">
            <span>{{cryptos[crypto].USD | currency:'USD':true}}</span>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <span>{{cryptos[crypto].INR | currency:'INR':true}}</span>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-custom navbar-fixed-bottom">
      <div class="container-fluid">
        <p class="navbar-text pull-right">
          <a [routerLink]="['/profile']">
            <span class="glyphicon glyphicon-user my-white-color"></span>
          </a>
        </p>

      </div>
    </nav>
  </div>
</div>
